/* default styles */
body {
    background-color: hsl(54, 100%, 79%);
    background-image: url(pokemon2.png);
    background-size: cover;
    cursor: url(pala.png), auto;
}


#title h1 {
    text-decoration: underline;
    text-align: center;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffc039;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#score {
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#timer {
    text-align: center;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

section {
    margin-left: 600px;
    margin-right: 600px;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

#imgTopo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mole {
    /*border: solid 5px #fff492;*/
    width: 150px;
    height: 150px;
    margin: 10px;
    flex-basis: calc(33.33% - 20px);
}

/* media queries */
@media only screen and (max-width: 600px) {

    /* modify styles for screens with a maximum width of 600px */
    section {
        margin-left: 400px;
        margin-right: 400px;
    }
}
